body {
  margin: 0;
  min-height: 100vh;

  overflow-y: scroll;

  background: linear-gradient(
    180deg,
    #ffffff 0px,
    #dce8f8 400px,
    #eaf3fc 800px,
    #ffffff 1400px
  );

  background-repeat: no-repeat;
  background-size: 100% max(100vh, 1400px);
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}